{% extends "_layouts/main" %}

{% block main %}

<section class="section first">
  <div class="section--one--container">
    <h1>{{ entry.firstHeading }}</h1>
    {{ entry.firstParagraph }}
    <button class="button--hero">{{ entry.firstButton }}</button>
  </div>
</section>

<section class="section second">
  <div class="section--two--container">
    <h2>{{ entry.secondHeading }}</h2>
    {{ entry.secondParagraph }}
  </div>
  <div class="custom--bg"></div>
</section>

<section class="section third">
  <div class="section--third--container">
    <h2>{{ entry.thirdHeading }}</h2>
    {{ entry.thirdParagraph }}
    <button class="button--customize">{{ entry.secondButton }}</button>
  </div>
</section>

{% endblock %}